/* search bar */
.btn-success {
  display: flex;
  background-color: blue;
  justify-content: end;
  width: "90%";
}
.btn-success:hover {
  background-color: #0000ff8f;
}
.btn-success:click {
  background-color: #0000ff8f;
}

.searchbar {
  /* position: fixed; */
  top: -3px;
  left: 36%;
  transform: translateX(44%);
  width: 700px;
  margin: 5px;
  margin-top: -46px;
}

/* Style for the input inside the button */
.searchbar input {
  width: 100%;
  border: none;
  outline: none;
}

.btn-primary {
  width: 600px; /* Adjust the width as needed */
}
#dropdown-split-basic {
  width: 50px;
}
